# Etherscan API key
ETHERSCAN_API_KEY=

# Network RPC URL
ATA_SEPOLIA_RPC_URL=""
SEPOLIA_RPC_URL=""
OP_SEPOLIA_RPC_URL=""
ARBITRUM_SEPOLIA_RPC_URL=""
BASE_SEPOLIA_RPC_URL=""
WORLD_SEPOLIA_RPC_URL=""
AVALANCHE_C_FUJI_RPC_URL=""
POLYGON_AMOY_RPC_URL=""
BSC_TESTNET_RPC_URL=""
HOODI_TESTNET_RPC_URL=""
UNICHAIN_SEPOLIA_RPC_URL=""
HYPEREVM_TESTNET_RPC_URL=""
TEMPO_TESTNET_RPC_URL=""
MEGAETH_TESTNET_RPC_URL=""
STORY_AENEID_RPC_URL=""

ATA_RPC_URL=""
ETHEREUM_RPC_URL=""
OP_RPC_URL=""
ARBITRUM_RPC_URL=""
BASE_RPC_URL=""
WORLD_RPC_URL=""
POLYGON_RPC_URL=""
BSC_RPC_URL=""
AVALANCHE_C_RPC_URL=""
UNICHAIN_RPC_URL=""
HYPEREVM_RPC_URL=""
MEGAETH_RPC_URL=""